.profile-pic {
    -webkit-animation: morph 8s ease-in-out infinite;
    animation: morph 8s ease-in-out infinite;
    background-image: url("../assets/images/profileimg.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 50vh;
    position: relative;
    transition: all 1s ease-in-out;
    /* width: 20vh; */
    /* background-position: center; */
}
@media (min-width: 576px) {
    h1 {
  text-align: center; /* Small screens */
    }
  }
h1{
    font-size: 70px !important;
    font-weight: bold !important;
}
.bi{
    font-size: 25px !important;
    
}
.bi:hover{
    color: black !important;
}
@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}